.cart-title {
  font-size: 20px;
  margin-bottom: 40px;
}

.cartContainer {

  &--cartItem {
    border: 0;
    margin-bottom: 20px;
    
    &--image {
      background-color: lightgrey;
      width: 110px;
      height: 170px;
    }

    &--author {
      color: grey;
    }

    &--number-input {
      width: 50px;
      border: none;
      border-bottom: solid 1px grey;
      text-align: center;
    }

    &--plus-minus-btn {
      width: 30px;
    }

    &--subtotal-text {
      text-align: right;
      margin-bottom: 0;
    }

    &--subtotal-number {
      text-align: right;
    }
  }
}

.checkout-container {
  border: solid lightgrey 1px;
  padding: 15px;

  &--total-price {
    text-align: center;
    font-size: 30px;
  }

  &--button {
    width: 100%;
  }
}