$main-red: #b71540;
$main-green: #006266;
$main-blue: #0a3d62;

.register-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  &--left {
    img {
      width: 800px;
      height: 100vh;
      margin: 0;
    }
  }

  &--right {
    display: flex;
    justify-content: center;
    align-items: center;

    &--registerbox {
      width: 500px;
      height: 630px;
      border: 2px solid #95a5a6;
      border-radius: 20px;
      margin: 40px;
      margin-left: 70px;

      &--header {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 250px;
          width: 310px;
        }
      }

      &--form {
        margin: 8px;
        margin-right: 40px;
        margin-left: 40px;
      }

      &--login-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 418px;
        background-color: $main-green;
        color: white;
        font-weight: bold;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }

      &--register-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &--register-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 418px;
        background-color: $main-red;
        color: white;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }

      &--login-btn-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

