.add-book-title {
  font-size: 25px;
  color: #006266;
  font-family: 'Titillium Web';
}

.btn-green {
  background-color: #006266;
  color: white;
}

.btn-salmon {
  background-color: salmon;
  color: white;
}